@font-face {
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light/SpaceGrotesk-Light.eot');
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light/SpaceGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light/SpaceGrotesk-Light.woff2') format('woff2'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light/SpaceGrotesk-Light.woff') format('woff'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular/SpaceGrotesk-Regular.eot');
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular/SpaceGrotesk-Regular.woff') format('woff'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold/SpaceGrotesk-Bold.eot');
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold/SpaceGrotesk-Bold.woff') format('woff'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium/SpaceGrotesk-Medium.eot');
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium/SpaceGrotesk-Medium.woff') format('woff'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold/SpaceGrotesk-SemiBold.eot');
    src: url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold/SpaceGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold/SpaceGrotesk-SemiBold.woff') format('woff'),
        url('~/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

