$font-primary: 'Space Grotesk', sans-serif; 

@mixin g-text-one
{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
@mixin g-text-two
{
    font-weight: 400;
    font-size: 18px;
}
@mixin g-btn
{
    border-radius: 14px;
    padding: 20px 35px;
    width: 100%;
    height: 100%;
    max-height: 68px;
}
@mixin g-heading
{
    border-radius: 7px;
    padding: 0px 7px;
    width: 100%;
    height: 100%;
}
@mixin g-heading-texts
{
    font-weight: 500;
    font-size: 40px;
}
